*{
    margin: 0;
    box-sizing: border-box;

}

body{
    font-family: Arial;
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/331/1003/desktop-wallpaper-palooza-villamil-on-fondos-pinterest-morat.jpg);
    background-position: 90% ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.about{
    margin: 80px auto;
    width: 900px;
    height: 500px;

    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr) ;

}

.about_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1/5;
    grid-row: 1/5;

}

.about_gradient{
    background-image: linear-gradient(to top, #1eb6e4 0%, #000000 100%);
    grid-column: 2/6;
    grid-row: 2/7;

}

.about_article{
    margin: 10px;
    padding:10px ;
    background-image: url(https://pbs.twimg.com/profile_images/1576650784095326208/BbLe3cRx_400x400.jpg);
    padding: 2.5em;
    box-shadow: 0 0 10px -8px #00000084;

    grid-column: 4/9;
    grid-row: 3/6;
}

.about_title{
    font-size:2rem ;
    margin-bottom: 16px;
}

.about_paragraph{
    line-height: 1.5;
}
img{
    position: absolute;
    width: 500px;
}